//- extends pug/layouts/global

//- block content
//- 	.container
//- 		h1 Locals
//- 		.row
//- 			.col-md-6.offset-md-3
//- 				//- each item,index in site.data.pagelist
//- 				//- 	.u-mbb4
//- 				//- 		a.h3(href=item.href)
//- 				//- 			|#{index+1}.&nbsp;
//- 				//- 			|#{item.text}
dochtml
html
	head
		link(rel="stylesheet", href="/css/main.scss")
	body
		h1 Test
		script(src="/js/main.js")