extends bare

block barecontent
	.u-posf.u-z-1.u-t0.u-l0.u-w100p.u-h100p.u-o0.u-bg-scrim-flat.offcanvassearch(data-module="loadcontainer", data-module-options="{ name: 'ContainerOffcanvasSearch' }")

	header.c-header
	main.u-fx1.c-main
		block content
	footer.u-posr.u-z1.u-c-fff.u-ovh.c-footer
