mixin hero()
	.u-posr.u-mbb3.u-mbb4-md.u-ovh.c-hero
		.u-embed.c-hero__media
			.u-bgimg.u-embed__item(style="background-image: url(https://unsplash.it/720/668)")
		.u-embed__item.c-hero__topgradient
		.u-embed__item.c-hero__fullgradient
		+triangle('tlbr', 'fff').u-posa.u-b0.u-l0.u-r0
		block


