mixin icon(name, prefixClass='g-icon')
	//- span(aria-hidden="true" class=prefixClass + "-" + name)&attributes(attributes)
	svg.u-fill-cc.o-icon(aria-hidden="true")&attributes(attributes)
		use(xlink:href="/www_shared/assets/img/icons-sprite.svg#" + name)
